.left{
    border: 2px solid red;
    background-color:red;
    color:white;
    padding:30px;
    float:left;
    width:18%;
    height:400px;
}
.center{
    background-image: url("../images/img1.png");
    border: 2px solid green;
    background-color:green;
    color:red;
    padding:30px;
    float:left;
    width:44%;
    height:400px;
    background-repeat: no-repeat;
    background-size:cover;
}
.right{
    border: 2px solid orange;
    background-color:orange;
    color:white;
    padding:30px;
    float:right;
    width:18%;
    height:400px;
    background-repeat: no-repeat;

}
.navbar{
    background-color: blue;
    color: white;
}
.navbar li{
    list-style-type: none;
    text-align: center;
    margin-right: 2px;
    width:2em;
}
.navbar a{
    text-decoration: none;
    color:white;
    margin:5px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:yellow;
}